<p id="comment-<%=comment.id%>">
  <% if (locals.user && locals.user.id==comment.user.id) { %>
  <small>
    <button>
      <a
        class="delete-comment-button"
        href="/comment/destroy/<%= comment.id %> "
      >
        Delete
      </a>
    </button>
  </small>
  <% } %> <%= comment.content %>
  <br />
  <small> <%= comment.user.name %> </small>
</p>
