<h1>Password Recovery</h1>

<form action="http://localhost:8000/forgot-password/check-email" method="POST">
  <label for="email">Enter Your Email-id:</label>
  <input type="email" name="email" />
  <button type="submit">Submit</button>
</form>
