<h1>Codeial / <%= title %></h1>

<% if (locals.user) { %>
<div id="feed-posts">
  <h2>Posts</h4>
  <form action="/posts/create" method="post">
    <textarea name="content" cols="30" rows="3" placeholder="Type here..."></textarea>
    <input type="submit" value="Post" />
  </form>
</div>
<% } %>

<div class="posts-list-container">
  <ul>
    <% for(post of locals.posts) {%> 
      <li>
        <%=post.content%> 
      </li>
      <small>
        <%= post.user.name %> 
      </small>
    <%  }%> 
  </ul>
</div>
