<h1>Reset Password</h1>

<form
  action="http://localhost:8000/forgot-password/reset-password/<%= token %> "
  method="post"
>
  <input type="password" name="password" placeholder="Enter new password" />
  <input
    type="password"
    name="confirm_password"
    placeholder="Confirm password"
  />
  <input type="submit" value="Submit" />
</form>
