#main-container {
  display: flex;
  #feed-posts {
    width: 70%;
    padding: 10px;
  }
  #user-friends {
    width: 30%;
    border-left: solid 2px black;
    padding: 10px;
  }
  .post-like {
    display: flex;
    margin-bottom: 5px;
  }
  .comment-like {
    display: flex;
    margin-bottom: 5px;
  }
  .show-post-like {
    display: flex;
    margin-bottom: 5px;
  }
  .show-comment-like {
    display: flex;
    margin-bottom: 5px;
  }
  .like-number {
    padding: 2px;
  }
  .like-symbol {
    cursor: pointer;
    a {
      text-decoration: none;
    }
  }
}
